/* adicionando a imagem de fundo na sessão about do mobile */
#smartphones-img {
  background: url(../assets/bg-hero-mobile.svg) top/cover;
  margin-top: 5rem;
}

section {
  /* definindo o padrão dos elementos dentro das sections */
  & header {
    & strong {
      display: block;
      font: var(--fw-md) var(--fs-sm)/100% var(--ff-sans);
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: var(--brand-color-primary);
    }

    & h2 {
      margin-top: .5rem;
    }
  }

  & p {
    margin-top: .5rem;
    color: var(--text-color-secondary);
  }

}

@media (width >= 80rem) {
  /* retirando as imagens de fundo e smartphones da sessão about do descktop */
  #smartphones-img {
    display: none;
  }
}